language: node_js
node_js:		
  - "7"
addons:
  apt:
    packages:
      - xvfb
install:
  - export DISPLAY=':99.0'
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
  - npm install
branches:
  only: master
script:
  - npm run test
  - npm run lint
after_script:
  - cat ./dist/coverage/report-lcovonly.txt | coveralls
